# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
GEMINI.md

# Credenciales y Configuración (Seguridad)
.env
config/credentials.json
credentials/

# Docker
.docker/
docker-compose.override.yml

# Data outputs
data/
data/logs/
data/outputs/
data/processed/

# Bases de Datos (Volúmenes)
pgdata/

# IDE e Interfaz
.vscode/
.idea/
.DS_Store
*.ipynb_checkpoints

# Archivos de Word/Excel (Temporales)
~$*.doc*
~$*.xls*
