# System
psutil>=5.9,<7

# GCP Dependencies
google-cloud-bigquery
pandas
pyarrow
db-dtypes

# DB Dependencies
psycopg2-binary
sqlalchemy

# Utils
python-dotenv

# ML Dependencies
scikit-learn>=1.3,<2
matplotlib>=3.7,<4
joblib>=1.3,<2

# API
fastapi
uvicorn

# Testing
pytest
